body {
  box-sizing: border-box;
  min-height: 100vh;
  background-color: #fbfbff;
  font-family: "Inter", sans-serif;
}

h1 {
  letter-spacing: 6px;
}

.page-content-holder {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

@media (max-width: 800px) {
  .page-content-holder {
    flex-direction: column-reverse;
    min-height: 50vh;
  }
}
.content-section {
  color: #28536b;
  flex-basis: 50%;
  display: flex;
  align-items: center;
}

.form-input {
  border: none;
  border-bottom: 2px solid #28536b;
  display: flex;
  width: 100%;
  background-color: #fbfbff;
  padding: 5%;
  margin: 5%;
  outline: none;
  font-size: 1.5vw;
  font-family: "Inter", sans-serif;
  color: #28536b;
}

.short-input {
  max-width: 40%;
}

.contact-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media (max-width: 800px) {
  .contact-form {
    flex-direction: column;
    min-height: 50vh;
  }
}

.form-message {
  resize: none;
}

.send-button {
  background-color: #28536b;
  color: #fbfbff;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 1.5vw;
  padding: 2%;
  opacity: 0.8;
  font-family: "Inter", sans-serif;
  margin-left: 5%;
}

.send-button:hover {
  opacity: 1;
}

.about {
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Inter", sans-serif;
}

.name {
  font-weight: 600;
  margin-top: 0%;
  color: #28536b;
}

.title {
  color: #28536b;
  font-weight: 100;
}

.contact-link {
  text-decoration: none;
  outline: #28536b;
}
